*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}

.container-fluid{
    background-color: #e6beae;
}

.navbar-brand{
    color: white;
    font-family: 'Dancing Script';
    font-size: 45px;
    transition: 0.5s;
}

.navbar-nav a{
    color: white;
    font-family: 'Dancing Script';
    font-size: 30px;
    transition: 0.5s;
}
.carousel {
    width: 30rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
