*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}

.container-fluid{
    background-color: #e6beae;
    
}

.navbar-brand{
    color: white;
    font-family: 'Dancing Script';
    font-size: 45px;
    transition: 0.5s;
    
}

.navbar-nav a{
    color: white;
    font-family: 'Dancing Script';
    font-size: 30px;
    transition: 0.5s;
}
.mi-carrusel {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px; /* Puedes ajustar esto según tus necesidades */
}
.carousel-item img {
    width: 100%;  /* Ajusta el ancho al 100% del contenedor */
    height: 800px; /* Altura fija, ajusta según tus necesidades */
    object-fit: cover; /* Esto asegura que la imagen cubra el área sin distorsionarse */
}

section h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
section p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
footer div h5{
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 40px;
}
footer div a{
    text-decoration: none;
    color: white;
    transition: 0.5s;

}
footer div a:hover{
    color: black;
}
.list-unstyled{
    text-align: center;
}


.btn{
    background-color: #e6beae;
    border: #e6beae;
}
.btn:hover{
    background-color: gray;
}
.ani{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px; /* Puedes ajustar esto según tus necesidades */
}
.col-4 {
    display:block;
    width:400px;
    height:300px;
    max-width: 400px;
    margin-bottom: 0px;
    
}